.item {
  background-color: var(--primary-background-color);
  width: 386px;
  height: 444px;
  padding: 1em;
}
.item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.4);
}

.cover {
  width: 100%;
  height: 330px;
}

.info {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  top: -30px;
  right: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;
  z-index: 1;
}
