.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Product */
.product-name-small {
    color: var(--primary-text-color);
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 160%;
}
.product-name-large {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 1.687rem;
}

.product-price-small {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
}
.product-price-medium {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.125rem;
}
.product-price-large {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.687rem;
}
